html,
body {
  background: hsl(var(--background));
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.tab-button {
  font-size: 0.875em;
  color: hsl(var(--foreground));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.tab-button[data-state='inactive'] {
  background-color: hsl(var(--brand-800));
  color: hsl(var(--brand-200));
}
